/*Variables*/
:root {
	--nav-height: 50px;
}


/*Element styles*/
* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
}

nav {
	height: var(--nav-height);
	background-color: black;
	color: white;
	padding: 0 15px;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
}

main {
	height: calc(100vh - var(--nav-height));
	background-color: #1c1c1c;
	color: white;
	padding: var(--nav-height) 16.5%;
	display: flex;
	justify-content: center;
}

footer {
	height: 100px;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	margin: 0;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: goldenrod;
}

a:active {
	color: white;
}

/*Class styles*/
.frame {
	height: 600px;
	width: 400px;
	border: 2px solid white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center	;
	border-radius: 10px;
}

.row {
	height: 15%;
	width:90%;
	display: flex;
	justify-content: space-evenly;
	gap: 5px;
}

.display {
	border: 2px solid white;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 32px;
	padding: 0 15px;
	overflow-x: scroll;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 48px;
	border: 2px solid white;
	flex: 1 1 0;
	border-radius: 50%;
}

.button:hover {
	background-color: white;
	color: black;
}

.button:active {
	background-color: goldenrod;
}